{% extends "base" %}

{% block content %}
<h2>Solarized Guacamole</h2>
<p>
    This page being brought to you by
    <a href="https://rocket.rs">Rocket</a> and
    <a href="https://www.rust-lang.org">Rust</a>
    <br>Safe files: No goats were harmed.
    <br>Unsafe files: Maybe it's a virus. Maybe it's illegal. Maybe it's maybelline.
</p>
<a href="/safe">
    Safe Files
</a>
<br>
<a href="/unsafe">
    Unsafe Files
</a>
<br>
<a href="/todo">
    Todo List
</a>
<br>
{% endblock content %}
